<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppExtensionsDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F63734E1F35F5EB007E1090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F6373671F35F5EB007E1090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F6373721F35F5EB007E1090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
